$grey_100: #E2E2E2;
$grey_160: #A5B0BF;
$grey_400: #F4F4F4;
$grey_410: #727272;
$grey_460: #444D60;
$grey_521: #2F3542;
$grey_533: #333A4A;


$black_100: #000000;

$red_100: #E20010;

$blue_100:#4CC4D8;
$blue_200:#47B0C4;
$blue_300:#036cdb;

$yellow_100: #FBC72E;

$white_100: #fff;
$white_101:#F0F0F0;

$min-widrh-screen: 768px;

