@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');
@import '../style/variables';

html {
  font-family: 'Roboto', sans-serif;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}

body {
   margin: 0;

  .layout-busines {
    height: 100%;
    position: relative;

    .icon__x24 {
      width: 24px;
      height: 24px;
    }
  }
}



@media only screen and (min-width: $min-widrh-screen) {
  body {
    .layout-busines {
      max-width: 1024px;
      margin: 0 auto;
    }
  }
}